<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="format-detection" content="telephone=no" />
		<meta name='viewport' content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
		<title>极速借</title>
		<link href="/build/style.css" rel="stylesheet"></head>
	<body>
		<div id="App"></div>
		<script src="https://www.niiwoo.com/h5/h5-base/js/viewport.js"></script>
		<script src="https://www.niiwoo.com/h5/h5-base/js/vconsole.min.js"></script>
		<script src="js/common.js"></script>
	<script type="text/javascript" src="/build/bund/vendor.js"></script><script type="text/javascript" src="/build/bund/app.js"></script></body>
</html>
